<div id="content">
  <div id="about">
    <h1>About me</h1>
    <Span
      >Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, quia ex
      nemo cupiditate qui maxime aspernatur voluptates inventore, quam aliquid,
      accusantium ipsum eaque. Totam mollitia iusto corrupti pariatur similique!
      Veniam.</Span
    >
    <div id="sections">
      <div class="section">
        <img src="./../assets/img/icons/bulb.png" alt="birne" />
        <span
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
          consequuntur ea incidunt nesciunt ipsum. Itaque, mollitia
          reprehenderit, ex et repellat quia nisi eius quod beatae, officia
          voluptas accusantium ipsam eos.</span
        >
      </div>
      <div class="section">
        <img src="./../assets/img/icons/puzzle.png" alt="puzzle" />
        <span
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
          maiores quisquam deserunt nihil dolore consequuntur dignissimos, iusto
          ipsam alias omnis aut voluptas dolores nemo. Impedit vitae excepturi
          fuga ullam debitis.</span
        >
      </div>
    </div>
  </div>
  <div id="images">
    <div id="selfi"></div>
    <img id="background" src="./../../assets/img/background/purple_round.png" alt="">
    <img id="line" src="./../../assets/img/LINE 7.png" alt="">
  </div>
</div>
