#content{
    display: flex;
    align-items: center;

    h1{
      font-size: 90px;  
      font-weight: 700;
    }

    >#about{
        width: 340px;
        margin: 64px;
    }
    >img{
        width: 450px;
    }

    #selfi{
        width: 360px;
        border: 2px solid #00bedc;
        border-radius: 50%;
    }
}