<div id="content_about">
  <img
  id="background"
  src="./../../assets/img/background/purple_round.png"
  alt=""
/>
  <div id="about">


    <h1>About me</h1>
    <Span
      >Welcome! I am a front-end developer based in Hallstadt, Germany. My
      passion is turning ideas into reality and creating innovative
      solutions.</Span
    >
    <div id="sections">
      <div class="section">
        <img src="./../assets/img/icons/bulb.png" alt="birne" />
        <span
          >Creativity and logical thinking are my tools. I translate ideas into
          high-quality products and bring them to life.</span
        >
      </div>
      <div class="section">
        <img src="./../assets/img/icons/puzzle.png" alt="puzzle" />
        <span
          >Like a puzzle piece, I seamlessly fit into projects. Each step brings
          us closer to completion.</span
        >
      </div>
    </div>
  </div>
  <div id="images">
    <div id="selfi"></div>
    <div id="bg_container"></div>
    <img id="line" src="./../../assets/img/LINE 7.png" alt="" />
  </div>
</div>
