#content {
  height: 110px;
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
  margin-left: 64px;
  margin-right: 64px;
  
  a {
    font-size: 24px;
    text-decoration: none;
    color: white;
    transition: color 0.1s ease-in-out;
    margin-right: 48px;
    
    &:hover{
      color: #00bee8;
    }
  }
}
