#content_contact {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  #background{
    position: absolute;
    z-index: -1;
    bottom: -420px;
    left: -180px;
    scale: 1.5;
  }

  #head{
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 40px;
  }

  h1{
    font-size: 90px;
  }

  h2{
    margin-bottom: 36px;
  }

  > #text {
    display: flex;
  }

  #info {
    display: flex;
    flex-direction: column;
    width: 30%;
  }

  input,
  textarea {
    color: black;
  }

  .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
  }

  #text {
    display: flex;
    justify-content: space-evenly;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 100%;
    margin-bottom: 104px;

    input,
    textarea {
      background-color: transparent;
      border: 2px solid #4b47ff;
      border-radius: 10px;
      height: 50px;
      width: 100%;
      font-size: 16px;
      font-weight: 400;
      color: white;
      padding-left: 16px;
      outline: none;
      cursor: pointer;

      &:hover{
        border: #00bee8 solid 2px;
      }
    }

    #check {
      display: flex;
      align-items: center;
      gap: 8px;

      #box {
        width: 16px;
        background-color: #4b47ff;
        border-color: #00bee8;
      }

      a {
        text-decoration: none;
        color: #4b47ff;
      }
    }

    #button {
      background-color: #b6b6b6;
      width: 250px;
      height: 60px;
      color: white;
      font-size: 23px;
      font-weight: 400;
      cursor: pointer;
      align-self: center;
    }
  }
}

.alert{
  color: red;
}

.is_valid{
  border-color: green !important;
  background-image: url(./../../assets/img/icons/valid.png);
  background-repeat: no-repeat;
  background-position: right 12px top 12px;
}

.is_invalid{
  border-color: red !important;
  background-image: url(./../../assets/img/icons/invalid.png);
  background-repeat: no-repeat;
  background-position: right 12px top 12px;
}

.active_button {
  background-color: #00bee8 !important;
  color: white;
}

#button:disabled {
  cursor: not-allowed !important;
  opacity: 0.5 !important;
}