<div id="content_contact">
  <div id="head">
    <img src="./../../assets/img/LINE 5.svg" alt="" />
    <h1>Contact</h1>
  </div>
  <div id="text">
    <div id="info">
      <h2>Do you have an idea or a challenge?</h2>
      <span
        >Let’s discuss it – I look forward
        to your message! Together, we can work out the details and find a
        tailored solution, whether it’s for a web project, an app, or a creative
        design
      </span>
    </div>
    <div class="container">
      <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
        <input
          [(ngModel)]="contactData.name"
          type="text"
          id="name"
          name="name"
          placeholder="Your name.."
          required
        />

        <input
          [(ngModel)]="contactData.email"
          type="text"
          id="email"
          name="email"
          placeholder="Your email.."
          required
          pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
        />

        <textarea
          #message="ngModel"
          minlength="4"
          [(ngModel)]="contactData.message"
          type="text"
          id="message"
          name="message"
          placeholder="Write something.."
          style="height: 200px"
          required
        ></textarea>
        @if(!message.valid && message.touched) {
        <span>Please enter message</span>
        }
        <div id="check">
          <input id="box" type="checkbox" required />
          <span
            >I´ve read the <a href="#">privacy policy</a> of my data as
            outlined.
          </span>
        </div>
        <input id="button" type="submit" value="Send message :)" />
      </form>
    </div>
  </div>
</div>
