<div id="content_skills">
  <img id="background" src="./../../assets/img/background/GReen shadow (1).png" alt="">
  <div id="icons">
    @for (name of skillName; track $index){
    <div id="icon">
      <img
        src="./../../assets/img/icons/skills/skill_{{ $index }}.png"
        alt="{{ name }}"
      />
      <span>{{ name }}</span>
    </div>
    }
  </div>
  <div id="text">
    <h1>My skills</h1>
    <span
      >My improved frontend development skills empower me to build a range of tangible projects.</span
    >
    <a href="#content_contact"><button>Get in touch</button></a>
  </div>
</div>
