<div id="content_portfolio">
  <div id="head">
    <img src="./../../assets/img/LINE 6.svg" alt="" />
    <h1>Portfolio</h1>
    <img src="./../../assets/img/LINE 4.svg" alt="" />
  </div>

  <div id="projects">
    <div class="project">
      <img src="./../../assets/img/join.svg" alt="" />
      <div class="description">
        <h2>Join</h2>
        <span class="used">JavaSript | HTML | CSS</span>
        <span
          >Taskmanager inspired by the Kanban System. Create and organize tasks
          using drag and drop functions, assign users and categories.</span
        >
        <div class="buttons">
          <a target="_blank" href="https://giuliano-gioia.com/Join/html"><button class="test">Live test</button></a>
          <a target="_blank" href="https://github.com/Ilivar/Join"><button class="git">Github</button></a>
        </div>
      </div>
    </div>
    <div class="project">
      <div class="description">
        <h2>Sharkie</h2>
        <span class="used">JavaScript | HTML | CSS</span>
        <span>
          A simple Jump-and-Run game based on an object-oriented approach. Help
          Shakie to find coins and poison bottles to fight against the killer
          whale.
        </span>
        <div class="buttons">
          <a target="_blank" href="https://giuliano-gioia.com/Sharkie"><button class="test">Live test</button></a>
          <a target="_blank" href="https://github.com/Ilivar/Sharky"><button class="git">Github</button></a>
        </div>
      </div>
      <img src="./../../assets/img/Sharkie.svg" alt="" />
    </div>
    <div class="project">
      <img src="./../../assets/img/Pokédex.png" alt="" />
      <div class="description">
        <h2>Pokédex</h2>
        <span class="used">JavaScript | HTML | CSS | Api</span>
        <span
          >Based on the PokéAPI a simple library that provides and catalogues
          pokémon information.</span
        >
        <div class="buttons">
          <a target="_blank" href="https://giuliano-gioia.com/Pokedex/index.html"><button class="test">Live test</button></a>
          <a target="_blank" href="https://github.com/Ilivar/PokeDex"><button class="git">Github</button></a>
        </div>
      </div>
    </div>
  </div>
</div>
