<div id="content_portfolio">
  <div id="head">
    <img src="./../../assets/img/LINE 6.svg" alt="" />
    <h1>Portfolio</h1>
    <img src="./../../assets/img/LINE 4.svg" alt="" />
  </div>

  <div id="projects">
    <img id="background" src="./../../assets/img/background/Purple shadow footer v1 and portfolio section.png" alt="">
    <img id="background_2" src="./../../assets/img/background/GReen shadow.png" alt="">

    <div class="project">
      <img src="./../../assets/img/join.svg" alt="" />
      <div class="description">
        <h2>Join</h2>
        <span class="used">JavaSript | HTML | CSS</span>
        <span
          >Discover my task manager influenced by Kanban principles. Seamlessly
          manage tasks by dragging and dropping them, while also assigning users
          and defining categories.</span
        >
        <div class="buttons">
          <a target="_blank" href="https://giuliano-gioia.com/Join/html"
            ><button class="test">Live test</button></a
          >
          <a target="_blank" href="https://github.com/Ilivar/Join"
            ><button class="git">Github</button></a
          >
        </div>
      </div>
    </div>
    <div id="sharkie" class="project">

      <div class="description">
        <h2>Sharkie</h2>
        <span class="used">JavaScript | HTML | CSS</span>
        <span>
          Dive into a minimalistic Jump-and-Run adventure, built using
          object-oriented principles. Join Shakie as they search for coins and
          poison bottles, preparing for an epic showdown with the killer whale.
        </span>
        <div class="buttons">
          <a target="_blank" href="https://giuliano-gioia.com/Sharkie"
            ><button class="test">Live test</button></a
          >
          <a target="_blank" href="https://github.com/Ilivar/Sharky"
            ><button class="git">Github</button></a
          >
        </div>
      </div>
      <img src="./../../assets/img/Sharkie.svg" alt="" />
    </div>
    <div id="pokedex" class="project">
      <img src="./../../assets/img/Pokédex.png" alt="" />
      <div class="description">
        <h2>Pokédex</h2>
        <span class="used">JavaScript | HTML | CSS | Api</span>
        <span
          >Built upon the PokéAPI, this library serves as a valuable resource for cataloging and retrieving Pokémon details.</span
        >
        <div class="buttons">
          <a
            target="_blank"
            href="https://giuliano-gioia.com/Pokedex/index.html"
            ><button class="test">Live test</button></a
          >
          <a target="_blank" href="https://github.com/Ilivar/PokeDex"
            ><button class="git">Github</button></a
          >
        </div>
      </div>
    </div>
  </div>
</div>
