<div id="content">
  <div id="about">
    <H1>About me</H1>
    <Span
      >Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, quia ex
      nemo cupiditate qui maxime aspernatur voluptates inventore, quam aliquid,
      accusantium ipsum eaque. Totam mollitia iusto corrupti pariatur similique!
      Veniam.</Span
    >
    <div class="section">
      <img src="#" alt="birne" />
      <span
        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
        consequuntur ea incidunt nesciunt ipsum. Itaque, mollitia reprehenderit,
        ex et repellat quia nisi eius quod beatae, officia voluptas accusantium
        ipsam eos.</span
      >
    </div>
    <div class="section">
      <img src="#" alt="puzzle" />
      <span
        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
        maiores quisquam deserunt nihil dolore consequuntur dignissimos, iusto
        ipsam alias omnis aut voluptas dolores nemo. Impedit vitae excepturi
        fuga ullam debitis.</span
      >
    </div>
  </div>
  <img src="#" alt="meineVisage" />
</div>
