<div id="content_home">
  <div id="images">
    <img
      id="picture"
      src="./../../assets/img/Giuli_Bewerbungsfoto_01.png"
      alt="picture"
    />
    <img
      id="background"
      src="./../../assets/img/background/Group 2.png"
      alt=""
    />
  </div>
  <div id="text">
    <span id="vertical">I am</span>
    <div id="info">
      <span id="name">Giuliano Gioia</span>
      <span id="dev">FRONTEND DEVELOPER</span>
      <a id="btn" href="#content_contact"><button>Let´s talk</button></a>
    </div>
  </div>
  <img id="vector" src="./../../assets/img/background/Vector2.png" alt="" />
</div>
<div id="scroll">
<Span>Scroll down</Span>
<img id="arrow" src="./../../assets/img/icons/arrow-down-line.svg" alt="">
</div>
<div id="links">
  <img src="./../../assets/img/vec_home.png" alt="" />
  <a target="_blank" href="https://github.com/ilivar" class="icon"
    ><img src="./../../assets/img/icons/git_cat.png" alt=""
  /></a>
  <a href="mailto:mail@giuliano-gioia.com" class="icon"
    ><img src="./../../assets/img/icons/mail.png" alt=""
  /></a>

  <a target="_blank" href="https://www.linkedin.com/in/giuliano-gioia-51b719238/" class="icon"
    ><img src="./../../assets/img/icons/linkedIn.png" alt=""
  /></a>
  <a href="mailto:mail@giuliano-gioia.com">mail&#64;giuliano-gioia.com</a>
</div>
