<div id="content">
    <div id="impressum">
        <h2>Giuliano</h2>
        <a href="#">Impressum</a>
    </div>
    <div id="producer">
        <span>&#9400; Giuliano Gioia 2024</span>
    </div>
    <div id="links">
        <a href="#" class="icon"
        ><img src="./../../assets/img/icons/git_cat.png" alt=""
      /></a>
      <a href="mailto:giulianogioia86@gmail.com" class="icon"
        ><img src="./../../assets/img/icons/mail.png" alt=""
      /></a>
    
      <a href="https://www.linkedin.com/in/giuliano-gioia-51b719238/" class="icon"
        ><img src="./../../assets/img/icons/linkedIn.png" alt=""
      /></a>
    </div>
</div>
