#content {
  height: 290px;
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #00bee8;
  padding-left: 64px;
  padding-right: 64px;

  > #producer {
    font-size: 23px;
    font-weight: 400;
  }
  > #links {
    display: flex;
    gap: 36px;

    img{
      &:hover {
        scale: 1.2;
      }
    }

  }
}
